/* CSS For Hiding 'Skip to Main' link unless it receives keyboard focus adapted from https://webaim.org/techniques/css/invisiblecontent/ */
a.skip-main{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
a.skip-main:focus{
  position:static;
  width:auto;
  height:auto;
}
nav{
  font-size: 1.5em;
  padding: 1em 0em;
  /* text-align: left; */
}
nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
nav ul li{
  list-style-type: none;
  margin: 1em;
}
nav a.current{
  font-style: italic;
  text-transform: uppercase;
}
section.gallery{
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* resource for grid trick: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
  /* grid-template-columns: repeat( auto-fill, minmax(min-content, max-content) ); */
}
section.gallery section {
  /* display: inline-block; */
  /* width: 33vw;
  margin: auto 0;
  justify-self: end; */
  padding: 1em;
}
section.gallery section img{
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}
section.gallery section ul{
  list-style-type: none;
}
figure{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 2em;
}
figure img {
  /* text-align: center; */
  width: 50vw;
}
body{
  font-family: 'Montserrat';
}
header{
  display: inline-block;
  width: 100%;
  text-align: center;
}
header h1{
  /* line-height: 200%; */
  font-size: 4em;
}
main > h2{
  font-size: 125%;
  margin: .75em;
}
main.longtext p{
  line-height: 2em;
  padding-bottom:1em;
  padding-left: .75em;
}
footer{
  display: inline-block;
  padding: 2em .75em;
  width: 100%;
  text-align: center;
}
